/* universal selector */
*{
    font-family: "Courier New";
}
/* Element Selector */
h1{
    color: #b92b27;
}
h3{
    color: blueviolet;
}
h1,h3{
    font-weight: 10px;
}
/* ID selector */
#login{
    background-color: #b92b27;
}
#signup{
    color: chartreuse;
    background-color: cadetblue;
}
/* Class selector */
.upvote{
    background-color: crimson;
}
/* Descendant selector */
p a{
    color: purple;
    background-color: yellow;
}
/* Adjacent sibling combinator */
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: aqua;
}
/* Child Combinator */
div>input{
    background-color: cadetblue;
}
/* Attribute Selector */
input[type="text"]{
    color: darkorange;
}
input[type="password"]{
    color: darkgreen;
}
input[type]{
    background-color: bisque;
}
/* Pseudo Class */
/* 1-->hover */
button:hover{
    color: red;
    background-color: burlywood;
}
/* 2-->active */
button:active{
    background-color: black;
    color: white;
}
/* 3-->checked */
input[type="radio"]:checked+label{
    color: chartreuse;
    font-weight: bold;
}
/* 4-->nth-of-type */
div:nth-of-type(2n){
    background-color: darkturquoise;
}
/* Pseudo Element */
h1::first-letter{
    background-color: darkturquoise;
}