h1{
    background-color: yellow;
    border: 2px solid black;
}
@media (width: 400px){
    h1{
        background-color: red;
        color: white;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: aqua;
    }
}
@media (min-width: 401px){
    h1{
        background-color: seagreen;
        color: white;
    }
}
@media (max-width: 399px){
    h1{
        background-color: blue;
        color: white;
    }
}
@media (min-width: 200px) and (max-width:400px){
    h1{
        background-color: hotpink;
        color: white;
    }
}
@media (orientation:landspace){
    h1{
        background-color: darkgreen;
        color: white;
    }
}